---
import Titulos from "../components/Titulos.astro"
import CardProyect from "../components/CardProyect.astro"
import Button from "./Button.astro"

const proyectos = await Astro.glob("../pages/proyectos/*.md")
const { frontmatter } = Astro.props
---

<section>
  <Titulos>Últimos Proyectos</Titulos>
  <section class="grid md:grid-cols-2 gap-8 mb-6">
    <!-- {
      proyectos
        .map((proyecto) => <CardProyect proyecto={proyecto} />)
        .reverse()
        .slice(0, 2)
    } -->
    {
      proyectos
        .filter((proyecto) => proyecto.frontmatter.index === true)
        .map((proyecto) => <CardProyect proyecto={proyecto} />)
        .reverse()
    }
  </section>

  <Button arrow href="/proyectos">Ver más</Button>
</section>
